*
!/.github/
!/.github/**
!/.devcontainer/
!/.devcontainer/**
!/assets/
!/assets/**
!/autorun/
!/autorun/**
!/bin/
!/bin/**
!/client/
!/client/**
!/local/
!/local/**
!/misc_doc/
!/misc_doc/**
!/scripts/
!/scripts/**
!/server/
!/server/**
!/shared/
!/shared/**
!/LICENSE
!/README.md
!/.gitignore